<div class="text-center">
  <h1>会員一覧ページ</h1>
     <p>
       <%= search_form_for(@search, url:customers_path) do |f| %>
  		   <%= f.search_field :last_name_cont, placeholder:"キーワードを入力してください", size: "50" %>
  		   <%= f.submit "検索", class: 'btn btn-warning' %>
    	 <% end %>
     </p>
    <table class="table">
      <% @customers_all.each do |customer| %>
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= customer.full_name %></td>
          <th>得意料理</th>
          <td><%= customer.special_dish %></td>
          <td><%= image_tag customer.get_customer_image(100, 100) %></td>
          <td><%= render 'public/relationships/btn', customer: customer %></td>
            <% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
             <td> <%= link_to 'chatを始める', chat_path(customer.id), class: "btn btn-secondary ml-3" %></td>
            <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>
</div>