<div class="text-center">
  <h1 class="w-50 mt-4 pt-4 offset-sm-3"><strong>会員詳細ページ</strong></h1>
    <div class="row">
        <div class="col-md-3 offset-md-3 mt-5">
          <%= image_tag @customer.get_customer_image(400, 400) %>
        </div>
        <div class="col-md-6 mt-5 pt-4">
          <table class="table w-50">
            <tbody>
              <tr>
                <th>名前</th>
                <td><%= @customer.first_name + @customer.last_name %></td>
              </tr>
              <tr>
              </tr>
                <th>得意料理</th>
                <td><%= @customer.special_dish %></td>
              </tr>
                <th>フォロー</th>
                <td>
                  <%= link_to @customer.followings.count, customer_followings_path(@customer), class: 'font-weight-bold' %>
                </td>
              </tr>
              <tr>
                <th>フォロワー</th>
                <td>
                  <%= link_to @customer.followers.count, customer_followers_path(@customer), class: 'font-weight-bold' %>
                </td>
              <% if @customer != current_customer %>
              <tr>
                <th>いいねされた投稿</th>
                <td>
                  <%= link_to @customer.favorites.count, favorites_customer_path(@customer), class: 'font-weight-bold' %>
                </td>
              </tr>
              <tr>
              <tr>
                <th>フォロー</th>
                <td>
                  <%= render 'public/relationships/btn', customer: @customer %>
                  <%= render 'public/chats/btn', customer: @customer %>
                </td>
              </tr>
              <% end %>
                <tr>
                  <th>編集ページ</th>
                  <% if @customer == current_customer %>
                    <td><%= link_to "編集", edit_customer_path(@customer), class: 'btn btn-success' %></td>
                  <% else %>
                    <td>編集できません</td>
                  <% end %>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>