<div class="text-center">
  <h1>会員詳細ページ</h1>
    <%= image_tag @customer.get_customer_image(200, 200) %>

    <div class="mb-5">
        名前：<%= @customer.first_name + @customer.last_name %>
    </div>
    <div class="mb-5">
        得意料理:<%= @customer.special_dish %>
    </div>
    <div class="mb-5">
        <%= render "public/relationships/btn", customer: @customer %>
    </div>
    <div class="mb-5">
        <%= link_to "いいね一覧", favorites_customer_path(@customer) %></p>
        <%= link_to "フォロー一覧",  customer_followings_path(@customer) %></p>
        <%= link_to "フォロワー一覧",  customer_followers_path(@customer) %></p>
    </div>
</div>