<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>投稿の編集</strong></h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mt-4">
              <%= form_with model: @post, url: post_path(@post), remote: true, method: :patch do |f| %>
              <%= render 'layouts/errors', obj: @post %>
              <div class="container mt-3">
                <div class="border rounded border border-dark" style="height:710px">
                  <div class="form-group mt-2">
                    <h6 class="w-50 offset-md-3">作った日</h6>
                    <%= f.date_select :cooked_day, {default: Date.today} %><br>
                  </div>
                  <div class="form-group mt-3">
                    <h6>画像</h6>
                    <%= f.file_field :post_image, accept: 'image/*' %><br>
                  </div>
                  <div class="form-group">
                    <h6>料理名</h6>
                  　<%= f.text_field :cook_name, class: 'w-50 ' %>
                  </div>
                  <div class="form-group mt-3">
                  </div>
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">難易度</h6>
                    <div class="form-group" id="star">
                      <%= f.label :star %>
                      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
                    </div>
                      <script>
                        $(document).on('turbolinks:load', function() {
                          $('#star').empty();
                          $('#star').raty({
                            size : 36,
                            starOff: '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            scoreName: 'post[star]',
                            half: true,
                            score: <%= @post.star || 0 %>,
                          });
                        })
                      </script>
                  </div>
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">感想</h6>
                    <%= f.text_area :opinion, rows: "9", class: 'w-50' %><br>
                    <%= f.submit "保存", class: 'btn btn-success' %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>