<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>投稿一覧</strong></h1>
    <%= search_form_for(@search, url:posts_path) do |f| %>
	    <%= f.search_field :cook_name_cont, placeholder: "キーワードを入力してください", size: "50" %>
	    <%= f.submit "検索", class: 'btn btn-warning' %>
    <% end %>
    <%= form_tag({ controller: 'posts', action: 'index'}, method: :get) do %>
      <% Tag.all.each do |t| %>
        <%= check_box :tag_ids, t.name %><%= t.name %>
      <% end %>
      <%= submit_tag '検索', class: 'btn btn-warning' %>
    <% end %>
</div>
<div class="content">
  <div class="card-wrap">
    <% @posts.each do |post| %>
    <div class="card mt-5">
      <div class="card-image">
        <p><%= image_tag post.get_post_image(250, 250), class: 'card-listImage' %></p>
        <h2 class="card-listTitle"><%= link_to post.cook_name, post_path(post) %> <%= render 'static_star', post: post %></h2>
        <p class="card-listText">
          投稿者:<%= post.customer.full_name %><br>
          作った日:<%= post.cooked_day.strftime('%Y/%m/%d') %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="mb-5 pb-5 justify-content-center d-flex">
  <%= paginate @posts_all %>
</div>