<h1 class="text-center">投稿</h1>
  <div class="container">
    <div class="row">
        <hr>
          <table>
            <div class="col-md-3">
                <thead>
                  <tr>
                    <th>料理名</th>
                    <th>難易度</th>
                    <th>感想</th>
                  </tr>
                </thead>
            </div>
            <div class="col-md-8">
              <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td><%= post.cook_name %></td>
                    <td>
                    <div id="star">
                    </div>
                      <script>
                        $(document).on('turbolinks:load', function() {
                          $('#star').empty();
                          $('#star').raty({
                            size : 36,
                            starOff: '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            scoreName: 'item_comment[star]',
                            half: true,
                          });
                        })
                      </script>
                    </td>
                    <td>
                      <%= post.opinion %>
                      <% if post.customer == current_customer %>
                        <%= link_to "編集する", edit_post_path(post) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </div>
          </table>
      </div>
    </div>
  </div>