<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>新規投稿</strong></h1>
  <%= render 'layouts/errors', obj: @post %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_with model: @post, url: posts_path, remote: true, method: :post do |f| %>
      <div class="form-group">
        <div class="form-group-item mt-4" id="picture">
          <label>
            <i class="fas fa-camera fa-2x"></i>
            <%= f.file_field :post_image, accept: 'image/*' %>
          </label>
        </div>
        <div class="form-group-item mt-3">
          <%= f.date_select :cooked_day, {default: Date.today} %>
        </div>
        <div class="form-group-item mt-3">
          <%= f.label :料理名, class: 'h5' %>
        　<%= f.text_area :cook_name, cols: '58', rows: '1', placeholder: '例:ハンバーグ', class: 'form-control' %>
        </div>
        <div class="form-group mt-2">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class="form-check">
              <%= tag.label class: 'form-check-label' do %>
                <%= tag.check_box class: 'form-check-input' %>
                <%= tag.text %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="form-group-item mt-3">
          <%= f.label :難易度, class: 'h5' %>
          <div class="form-group" id="star">
            <%= f.label :star %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>
            <script>
              $(document).on('turbolinks:load', function() {
                $('#star').empty();
                $('#star').raty({
                  size : 36,
                  starOff: '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'post[star]',
                  half: true,
                });
              })
            </script>
        </div>
        <div class="form-group-item mt-3">
          <%= f.text_area :media_url, cols: '58', rows: '1', placeholder: '動画URLを入力してください', class: "form-control" %>
        </div>
        <div class="form-group-item mt-3">
          <%= f.label :感想, class: 'h5' %>
          <%= f.text_area :opinion, cols: '58', rows: '3', class: 'form-control' %>
          <%= f.submit "投稿", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img id="preview" style="width: 100%; height: -webkit-fill-available;">
        <script>
          $('#post_post_image').on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
        });
        </script>
      <% end %>
    </div>
  </div>
</div>