<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>新規投稿</strong></h1>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mt-4">
              <%= form_with model: @post, url: posts_path, remote: true, method: :post do |f| %>
              <%= render 'layouts/errors', obj: @post %>
              <div class="container mt-3">
                <div class="border rounded border border-dark" style="height:710px">
                  <div class="form-group mt-2">
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">画像</h6>
                    <%= f.file_field :post_image, accept: 'image/*' %><br>
                  </div>
                    <h6 class="w-50 offset-md-3">登録済みの料理</h6>
                    <%= f.select :cook_name, options_from_collection_for_select(Post.select(:cook_name).distinct, :cook_name, :cook_name), include_blank: '選択してください' %>
                  </div>
                  <div class="form-group mt-2">
                    <h6 class="w-50 offset-md-3">料理名</h6>
                  　<%= f.text_area :cook_name, cols: '58', rows: '1', placeholder: '例:ハンバーグ' %>
                  </div>
                  <div class="form-group mt-2">
                    <h6 class="w-50 offset-md-3">作った日</h6>
                    <%= f.datetime_field :created_at %><br>
                  </div>
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">難易度</h6>
                    <div class="form-group" id="star">
                      <%= f.label :star %>
                      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
                    </div>
                      <script>
                        $(document).on('turbolinks:load', function() {
                          $('#star').empty();
                          $('#star').raty({
                            size : 36,
                            starOff: '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            starHalf: '<%= asset_path('star-half.png') %>',
                            scoreName: 'post[star]',
                            half: true,
                          });
                        })
                      </script>
                  </div>
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">動画URL</h6>
                    <%= f.text_area :media_url, cols: '58', rows: '1', placeholder: '動画URLを入力してください' %>
                  </div>
                  <div class="form-group mt-3">
                    <h6 class="w-50 offset-md-3">感想</h6>
                    <%= f.text_area :opinion, cols: '58', rows: '3' %><br>
                    <%= f.submit "投稿", class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>