<div class="text-center">
  <h1 class="mt-4 mb-4"><%= @post.cook_name %>のレシピ</h1>
    <p><%= link_to "レシピ作成はこちらから", new_post_recipe_path(@post) %></p>
    <div class="favorite-btn<%= @post.id %>">
      <%= render 'public/favorites/btn', post: @post %>
    </div>
</div>
<div class="row">
  <div class="col-lg-3 offset-lg-2">
    <h5>難易度</h5>
       <%= render 'static_star', post: @post %>
    <h5>感想</h5>
      <%= link_to @post.opinion %></p>
      <% if @post.customer == current_customer %>
        <%= link_to "編集", edit_post_path(@post), class: 'btn btn-success' %>
        <%= link_to "削除", post_path(@post), method: :delete, remote: true, class: 'btn btn-danger' %><br>
      <% end %>
    <h5>動画URL</h5>
      <%#= @post.media_url, src = "https://www.youtube.com/embed/#{@post.split_id_from_youtube_url}", \
      frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
    <div class="post-comments-counter">
      <%= render 'public/post_comments/counter', post: @post %>
    </div>
    <div class="post-comments-index">
      <%= render 'public/post_comments/index', post: @post %>
    </div>
    <div>
      <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
  </div>
  <div class="col-lg-6 offset-lg-1">
    <%= image_tag @post.get_post_image(400, 400) %>
  </div>
</div>



