<div class="text-center">
  <h1 class="mt-4 mb-4"><%= @post.cook_name %>のレシピ</h1>
    <p><%= link_to "レシピを載せますか?", new_post_recipe_path(@post) %></p>
    <div class="favorite-btn<%= @post.id %>">
      <%= render 'public/favorites/btn', post: @post %>
    </div>
    <div class="mb-4">
      <h5>画像</h5>
        <%= image_tag @post.get_post_image(500, 500) %>
      <h5>難易度</h5>
         <%= render 'static_star', post: @post %>
      <h5>感想</h5>
        <%= @post.opinion %></p>
        <% if @post.customer == current_customer %>
          <%= link_to "削除", post_path(@post), method: :delete, remote: true, class: 'btn btn-danger' %><br>
        <% end %>
    </div>
    <div class="post-comments">
      <div class="post-comments-counter">
        <%= render 'public/post_comments/counter', post: @post %>
      </div>
      <div class="post-comments-index">
        <%= render 'public/post_comments/index', post: @post %>
      </div>
      <div>
        <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
    </div>
</div>