<% recipes.each do |recipe| %>
  <div class="card mb-1">
    <div class="card-body">
      <h3 class="card-text"><%= recipe.post.cook_name %>の作り方</h3>
      <p class="card-text mt-3">材料</p>
      <li class="card-text"><%= recipe.material %></li>
      <p class="card-text mt-3">工程</p>
      <li class="card-text"><small><%= recipe.content %></small></li>
      <% @tags.each do |tag| %>
        <li class="card-text"><%= tag.content %></li>
      <% end %>
      <p class="card-text">
        <%= link_to  post_recipe_path(@post, recipe), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
  </div>
<% end %>