<% recipes.each do |recipe| %>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p><%= image_tag recipe.get_recipe_image(400, 400) %></p>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">レシピ</h3>
          <% @recipe_ingredients_all.each do |recipe_ingredient| %>
            <p class="card-text">
              <%= recipe_ingredient.name %>
              <%= recipe_ingredient.quantity %>個
            </p>
          <% end %>
          <p class="card-text mt-5"><%= recipe.content %></p>
          <p class="card-text"><small class="text-muted"><%= recipe.created_at.strftime('%Y/%m/%d') %></small></p>
          <p class="card-text">
            <% if recipe.customer == current_customer %>
              <%= link_to  post_recipe_path(@post, recipe), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>