<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><%= @recipe.post.cook_name %>の作り方の編集</h1>
  <%= form_with model: @recipe, url: post_recipe_path(@recipe), remote: true do |f| %>
    <div class="form-group mt-5 mb-4">
      <p>写真<br><%= f.file_field :recipe_images, multiple: true %></p>
      <p>材料<br><%= f.text_area :material %></p>
      <p>作り方<br><%= f.text_area :how_to_make %></p>
      <p>カテゴリ<br><%= f.select :category, Recipe.categories.keys.map {|k| [I18n.t("enums.recipe.category.#{k}"), k]} %></p>
      <%= f.submit "変更", class: 'btn btn-success' %>
    </div>
  <% end %>
</div>