<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        レシピ作成
      </button>
    </div>
    <div class="col-9 recipes">
      <%= render 'recipes', recipes: @recipes %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">レシピ作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: [@post, @recipe], local: false do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= @post.cook_name %>の作り方<br>
            <%= f.label :材料 %><br>
            <%= f.text_area :material, cols: '50', rows: '4' %><br>
            <%= f.label :工程 %><br>
            <%= f.text_area :content, cols: '50', rows: '4' %>
          </div>
          <div class="tag-area">
          <%= f.fields_for :tags do |tag| %>
            <div class="js-file-group">
              <div class="tag-area_form">
                <%= tag.text_area :content, class: "form-control" %>
               <span class="delete-form-btn">削除</span>
               <% if @recipe.persisted? %>
                 <%= tag.check_box :_destroy, data:{ index: tag.index }, class: "hidden-destroy" %>
               <% end %>
               <div class="add-form-btn">
                 <%= f.label :追加 %>
               </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.label :下書きしますか？ %><br>
       　　<%= f.select :status, Recipe.statuses.keys.map {|k| [I18n.t("enums.recipe.status.#{k}"), k]} %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit "新規作成", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
  function buildField(index) {
    const html = `<div class="js-file-group" data-index="${index}">
                    <div class="tag-area_form">
                      <input type="text" name="recipe[tags_attributes][${index}][content]" id="recipe_tags_attributes_${index}_content" class='form-control'>
                      <span class="delete-form-btn">
                        削除
                      </span>
                    </div>
                  </div>`;
    return html;
  }

  let fileIndex = [1, 2, 3, 4]
  var lastIndex = $(".js-file-group:last").data("index");
  fileIndex.splice(0, lastIndex);

  let fileCount = $(".hidden-destroy").length;
  let displayCount = $(".js-file-group").length

  $(".hidden-destroy").hide();
  if (fileIndex.length == 0) $(".add-form-btn").css("display","none");

  $(".add-form-btn").on("click", function() {
    $(".tag-area").append(buildField(fileIndex[0]));
    fileIndex.shift();
    if (fileIndex.length == 0) $(".add-form-btn").css("display","none");
    displayCount += 1;
  })

  $(".tag-area").on("click", ".delete-form-btn", function() {
    $(".add-form-btn").css("display","block");
    const targetIndex = $(this).parent().parent().data("index")
    const hiddenCheck = $(`input[data-index="${targetIndex}"].hidden-destroy`);

    var lastIndex = $(".js-file-group:last").data("index");
    displayCount -= 1;
    if (targetIndex < fileCount) {
      $(this).parent().parent().css("display","none")
      hiddenCheck.prop("checked", true);
    } else {
      $(this).parent().parent().remove();
    }
    if (fileIndex.length >= 1) {
      fileIndex.push(fileIndex[fileIndex.length - 1] + 1);
    } else {
      fileIndex.push(lastIndex + 1);
    }
    if (displayCount == 0) {
      $(".tag-area").append(buildField(fileIndex[0] - 1));
      fileIndex.shift();
      displayCount += 1;
    }
  })
})
</script>