<div class="text-center">
  <h1>作り方</h1>
    <%= form_with model: [@post, @recipe], remote: true do |f| %>
  <h5>材料</h5>
    <%= f.text_area :material %>
  <h5>工程</h5>
    <%= f.text_area :how_to_make %>
  <h5>カテゴリ</h5>
    <%= f.select :category, Recipe.categories.keys.map {|k| [I18n.t("enums.recipe.category.#{k}"), k]} %><br>
    <%= f.submit "新規作成", class: 'btn btn-primary' %>
    <% end %>
</div>
