<div class="text-center">
  <h1>作り方</h1>
    <%= form_with model: [@post, @recipe], remote: true do |f| %>
  <h5>材料</h5>
    <%= f.text_field :material %>
  <h5>工程</h5>
    <%= f.text_area :how_to_make %>
  <div class="justify-content-center">
    <h5>カテゴリ</h5>
    <%= f.select :category, Recipe.categories.keys.map {|k| [I18n.t("enums.recipe.category.#{k}"), k]}, include_blank: '選択してください' %>
  </div>
  <div class="form-group">
    <h5>下書きしますか？</h5>
　  <%= f.select :status, Recipe.statuses.keys.map {|k| [I18n.t("enums.recipe.status.#{k}"), k]}, include_blank: '選択してください' %>
  </div>
  <div class="form-group">
    <%= f.submit "新規作成", class: 'btn btn-primary' %>
  </div>
    <% end %>
</div>
