<h1 class="text-center mt-3 pt-3"><%= @recipe.post.cook_name %>の作り方</h1>
  <div class="row mt-3 pt-3">
    <div class="col-md-3 offset-md-3">
      <h4>工程</h4>
        <% @tags.each do |tag| %>
        <ol>
          <li><%= @recipe.content %></li>
          <li><%= tag.content %></li>
        </ol>
        <% end %>
      <h4>必要な材料</h4>
        <%= @recipe.material %>
      <h4>カテゴリ</h4>
        <%= @recipe.category_i18n %>
    </div>
    <div class="col-md-6">
      <% if @recipe.recipe_images.attached? %>
        <% @recipe.recipe_images.each do |image| %>
          <%= image_tag image, width:"350px", height:"350px%" %>
        <% end %>
      <% end %>
    </div>
  </div>