<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>タイムライン</strong></h1>
      <div class="row">
        <div class="col-md-5 offset-md-1 mt-3">
          <div id='calendar'></div>
        </div>
        <div class="col-md-5 mt-3">
            <h5>新しい投稿</h5>
            <table class="table mt-4">
              <thead>
                <tr>
                  <th></th>
                  <th>名前</th>
                  <th>作った日</th>
                  <th>難易度</th>
                  <th>感想</th>
                </tr>
              </thead>
              <tbody>
                <% @posts.each do |post| %>
                  <tr>
                    <td>
                      <%= image_tag post.customer.get_customer_image(70, 70) %><br>
                      <%= post.customer.full_name %><br>
                      <%= post.created_at.strftime('%Y/%m/%d') %>
                    </td>
                    <td><%= link_to image_tag post.get_post_image(150, 150) %></td>
                    <td class="align-middle"><%= link_to post.cook_name, post_path(post), class: "text-dark font-weight-bold" %></td>
                    <td class="align-middle">
                      <%= render 'public/posts/static_star', post: post %>
                    </td>
                    <td class="align-middle"><%= post.opinion %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <div class="mt-4 mb-4 justify-content-center d-flex">
            <%= paginate @posts %>
          </div>
        </div>
      </div>
</div>