<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong>会員一覧</strong></h1>
     <p>
       <%= search_form_for(@search, url:admin_customers_path) do |f| %>
  		   <%= f.search_field :last_name_cont, placeholder:"キーワードを入力してください", size: "50" %>
  		   <%= f.submit "検索", class: 'btn btn-warning' %>
    	 <% end %>
     </p>
     <div class="container">
       <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>名前</th>
              <th>得意料理</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @customers_all.each do |customer| %>
          <tbody>
            <tr>
              <td><%= image_tag customer.get_customer_image(200, 200) %></td>
              <td class="align-middle"><%= link_to customer.full_name, admin_customer_path(customer) %></td>
              <td class="align-middle"><%= customer.special_dish %></td>
              <% if customer.is_deleted == true %>
                <td class="align-middle">退会済み</td>
              <% else %>
                <td class="align-middle">有効会員</td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
       </div>
     </div>
    <div class="mt-4 mb-4 justify-content-center d-flex">
      <%= paginate @customers_all %>
    </div>
</div>