<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3" id="room" data-room="<%= @room.id %>" data-user="<%= current_customer.id %>"><strong><%= @customer.last_name %>さんとのチャット</strong></h1>
  <div class="container">
    <div class="row">
      <div class="col-md-9 offset-md-3">
        <div class="message" style="width: 400px;">
          <% @chats.each do |chat| %>
            <% if chat.customer_id == current_customer.id %>
              <p style="text-align: right;"><u><%= chat.message %></u>
                <%= image_tag current_customer.get_customer_image(50, 50) %>
              </p>
            <% else %>
              <p style="text-align: left;"><u><%= chat.message %></u>
                <%= image_tag @customer.get_customer_image(50, 50) %>
              </p>
            <% end %>
          <% end %>
        </div>
        <div class="errors">
          <%= render "layouts/errors", obj: @chat %>
        </div>
        <%= form_with model: @chat, data: {remote: true} do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :room_id %>
        <% end %>
      </div>
      </div>
    </div>
  </div>