<div class="text-center">
  <h1 class="w-50 mt-3 pt-3 offset-sm-3"><strong><%= @post.cook_name %></strong></h1>
</div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-5 offset-md-1">
        <table class="table w-100">
          <tbody>
            <tr>
              <th>感想</th>
              <td><%= @post.opinion %></td>
            </tr>
              <% if @post.customer == current_customer %>
              <div class="row justify-content-center">
                <div class="btn-group">
                  <tr>
                    <%= link_to "編集", edit_post_path(@post), class: 'btn btn-success' %>
                    <%= link_to "削除", post_path(@post), method: :delete, remote: true, class: 'btn btn-danger' %>
                  </tr>
                </div>
              </div>
              <% end %>
              <% if @post.media_url == true %>
              <tr>
                <th>動画URL</th>
                <td><h7 class="text-break"><%= raw Rinku.auto_link(h(@post.media_url)) %></h7></td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-5 offset-md-1">
        <%= image_tag @post.get_post_image(400, 400) %>
      </div>
      </div>
    </div>
  </div>