<nav class="border border-dark navbar navbar-expand-lg", style="background:rgba(255,255,255,1);">
  <div class="container-fluid">
    <div class="navbar-brand" style="padding-bottom: 15px;">
      <%= link_to root_path do %>
        <%= image_tag ('/assets/logo.png'), width:"20%", height:"20%" %>
      <% end %>
    </div>
    <div>
      <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>

          <!--会員ログイン時-->
          <li><%= link_to "マイページ", root_path, class: 'btn btn-white' %></li>
          <li><%= link_to "アプリについて", about_path, class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "投稿一覧", posts_path, class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-white ml-3' %></li>

        <% elsif admin_signed_in? %>

          <!--管理者ログイン時-->
          <li><%= link_to "会員一覧", admin_customers_path, class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "投稿一覧", admin_posts_path, class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-white ml-3' %></li>


        <% else %>

          <!--非ログイン時-->
          <li><%= link_to "トップメニュー", root_path %></li>
          <li><%= link_to "アプリについて", about_path,class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-white ml-3' %></li>
          <li><%= link_to "ログイン", new_customer_session_path, class: 'btn btn-white ml-3' %></li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>